div.stButton > button:first-child {
    	background-color: #4530ba;
    	border-radius: 6px;
    	border: 1px solid #4e6096;
    	display: inline-block;
    	cursor: pointer;
    	color: #ffffff;
    	font-family: Serif;
    	font-size: 33px;
    	padding: 12px 37px;
    	text-decoration: none;
    	text-shadow: 0px 1px 0px #283966;
    }
    
div.stButton > button:hover {
    	background-color: #4530ba;
    }
    
div.stButton > button:active {
    	position: relative;
    	top: 1px;
    }
}